button{
    margin:20px;
    background-color:green;
    border-style:none;
    padding:4px;
    font-family: 'Noto Sans Telugu', sans-serif;
}
button:hover{
    padding: 4px 10px;
    margin: 20px 14px;
}
